{% extends "webgateway/base/base_main.html" %}
{% load i18n %}
{% load static %}

{% block title %}Imports Database{% endblock %}

{% block script %}
    {{ block.super }}

    <script src="{% static 'webclient/javascript/jquery.infieldlabel-0.1.js' %}" type="text/javascript"></script>
    <script>
        $(document).ready(function(){
            // Metabase embedding
            var METABASE_SITE_URL = "{{ metabase_site_url }}";
            var token = "{{ metabase_token }}";
            var iframeUrl = METABASE_SITE_URL + "/embed/dashboard/" + token + "#bordered=true&titled=true";

            var iframe = $('<iframe>', {
                src: iframeUrl,
                width: '100%',
                height: '100%',
                frameborder: 0
            });
            $('#metabase-dashboard').append(iframe);

            // Error handling
            iframe.on('load', function() {
                if (this.contentDocument.body.innerHTML.includes("Unauthorized")) {
                    $('#metabase-dashboard').html('<div class="error">Error loading Metabase dashboard. Please check your configuration.</div>');
                }
            });
        });
    </script>

    <!-- keep-alive ping so that OMERO session doesn't die -->
    {% include "webclient/base/includes/ping.html" %}
{% endblock %}

{% block link %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "webadmin/css/dusty.css"|add:url_suffix %}" type="text/css" media="screen"/>
{% endblock %}

{% block middle_header_right %}
    <ul class="header_toolbar" id="script_notifications">
        {% include "webclient/base/includes/script_launch.html" %}
        {% include "webclient/base/includes/activities_info.html" %}
    </ul>
    <!-- Global Search -->
    {% include "webclient/base/includes/search_field.html" %}
            
    <!-- User Dropdown -->
    {% include "webclient/base/includes/user_dropdown.html" %}
{% endblock %}

{% block content %}
    <div id="center_details">
        {% if ome.message %}<div class="error">{{ ome.message|safe|linebreaks }}</div>{% endif %}
        <!-- Metabase Dashboard -->
        <div id="metabase-dashboard" style="height: 800px;"></div>
    </div>
{% endblock %}
