/* importer_button.css */

/* Styling for the importer button */
#importerToggleButton {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    font-weight: 500;
    color: white;
    background-color: rgb(52 134 57);
    text-shadow: 0 1px 0px rgba(0, 0, 0, 0.4);
    border: none;
    border-radius: 3px;
    padding: 0.5em 1em;
    display: flex;
    align-items: center;
}

/* Icon inside the button (if any) */
#importerToggleButton i {
    margin-right: 0.5em;
}

/* Hover styles */
#importerToggleButton:hover {
    background-color: rgb(70, 70, 70);
    color: white;
}

/* Additional styles for the ::before pseudo-element */
#importerToggleButton::before {
    background: url('../img/importer-icon.svg') no-repeat left center;
    background-size: contain;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 500;
}
