/* server_side_browser.css */

/* Importer Dialog Styles */
.importer-dialog {
    width: calc(100% - 360px);
    height: calc(100% - 45px);
    position: fixed;
    top: 40px;
    left: 355px;
    box-sizing: border-box;
    overflow: hidden;
    background-color: white;
}

/* Database Pages Browser */
.database-pages-browser {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Main Container */
#main-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 60px); /* Adjust 60px to your header's height */
    overflow: hidden;
}

/* Header Styles */
.browser-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
}

.browser-header .header-left h3 {
    margin: 0;
    font-size: 1.5rem;
    color: #343a40;
}

.browser-header .header-right {
    font-size: 1rem;
    color: #6c757d;
}

.browser-header .header-right span {
    margin-left: 10px;
}

.browser-header .header-right span:first-child {
    margin-left: 0;
}

/* File Browser Section */
#file-browser-section {
    flex-grow: 1;
    overflow: auto;
}

#columns {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    height: 100%;
}

.column {
    min-width: 300px;
    max-width: 500px;
    border-right: 1px solid #000;
    overflow-y: auto;
    flex-shrink: 0;
    box-sizing: border-box;
}

.column:last-child {
    border-right: none;
}

.column ul {
    list-style-type: none;
    padding: 0 5px;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}

.column li {
    padding: 8px 12px;
    margin: 4px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: calc(100% - 8px);
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.column li:hover {
    background-color: #f0f0f0;
}

.directory-name {
    font-weight: bold;
    color: #2c2c2c;
}

.column li.selected {
    background-color: #d0e0ff;
    border-radius: 5px;
}

.column li.active-directory {
    border: 2px solid #000;
    border-radius: 5px;
    background-color: #fff;
}

/* Separator Styles */
#separator {
    height: 10px;
    background-color: #ccc;
    cursor: row-resize;
    display: flex;
    align-items: center;
    justify-content: center;
}

#separator-handle {
    cursor: row-resize;
    text-align: center;
}

#separator-handle i {
    font-size: 1.5rem;
}

/* Selected Items Section */
#selected-items-section {
    flex-grow: 1;
    overflow: auto;
}

#selected-items-section ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}

#selected-items-section li {
    padding: 8px 12px;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
}

#selected-items-section li .file-info {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding-right: 16px;
    overflow: hidden;
}

#selected-items-section li .file-path {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 16px;
    flex: 1;
}

#selected-items-section li .file-details {
    white-space: nowrap;
    color: #666;
    flex-shrink: 0;
    margin-right: 16px;
}

#selected-items-section li .remove-item {
    cursor: pointer;
    color: #dc3545;
}

#selected-items-section li:hover {
    background-color: #f0f0f0;
}

/* Button Styles */
.button-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #fff;
}

#import-button,
#clear-button {
    padding: 8px 16px;
}

#import-button .bi-cloud-upload {
    color: #28a745;
    margin-right: 5px;
}
